mixin section-download
    .download
        .download__content
            .download__title= 'Get it on Play Store and download on the App Store'
            .download__btns
                a.btn.google-play(href="#")
                    img(src='assets/img/Google_Play_Get_green.svg')
                a.btn.app-store(href="#")
                    img(src='assets/img/App_Store_Get_green.svg')