

mixin section-main
    .main#home
        .main__contact
            .main__contact-title= 'Contact Us'
        .main__content
            .main__content-info
                .main__content-info-title= 'Get Instant Loans'
                .main__content-info-desc= 'Get instant loans with ease on your smartphone.'
                .main__content-info-btns
                    a.btn.google-play(href="#")
                        img(src='assets/img/Google_Play_Get.svg')
                    a.btn.app-store(href="#")
                        img(src='assets/img/App_Store_Get.svg')
            .main__content-img
                img(src='assets/img/Main_Person.png')


