include /components/blocks/nav-menu/nav-menu


mixin section-header
    .header
        a(href='#home').header__logo
            img(src="assets/img/Logo.svg")
        .header__menu
            +nav-menu
