@import "~Components/blocks/nav-menu/nav-menu.scss";

.header {
	width: 100%;
	padding: 0 res(10, 320, 150, 1920);
	display: flex;
	justify-content: start;
	background-color: #fff;
	position: fixed;
	z-index: 100;
	font-family: 'Work Sans', sans-serif;

	@include _768 {
		flex-direction: column;
		align-items: center;
	}


	&__logo {
		display: flex;
		align-items: center;

		img {
			width: res(100, 320, 170, 1920);
		}

		@include _768 {
			margin-top: 10px;
		}
	}

	&__menu {
		margin-left: res(30, 768, 165, 1920);

		@include _768 {
			margin-left: 0;
		};
	}
}