

mixin section-about
    .about
        .about__content
            .about__content-img
                img(src='assets/img/Second_Person.png')
            .about__content-info
                .about__content-title= 'Save on your own terms'
                .about__content-desc= 'Savings give you financial options'
                .about__content-btns
                    a.btn.google-play(href="#")
                        img(src='assets/img/Google_Play_Get.svg')
                    a.btn.app-store(href="#")
                        img(src='assets/img/App_Store_Get.svg')


